QNLiveKitDemo/Pods/
QNLiveKitDemo/*.lock
QNLiveKitDemo/*.xcworkspace
QNLiveKitDemo/QNLiveKitDemo/BeautyResource/*.lic
QNLiveKit/Pods/
QNLiveKit/*.lock
DownloadResource/QNLiveKitDemo/*.lock
DownloadResource/QNLiveKitDemo/*.xcworkspace
DownloadResource/QNLiveKitDemo/Pods/
DownloadResource/QNLiveKitDemo/QNLiveKitDemo/BeautyResource/*.lic
